{% load static %}
<div class="amazing-slider-two pb-0 py-30">
        <div class="container-fluid position-relative">
            <div class="amazing-slider-two-parent">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="amazing-slider-two-title">
                            <p class="main-color-two-color title-font h6">پیشنهاد</p>
                            <h6 class="title-font">شگفت انگیز</h6>
                            <a href="" class="btn btn-sm btn-dark">مشاهده همه</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="swiper amazing-slider-two-sw">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="amazing-slider-two-item">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="amazing-slider-two-item-timer">
                                                        <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="amazing-slider-two-item-image">
                                                        <img src="{% static 'assets/img/product/wach1.jpg' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="amazing-slider-two-item-title">
                                                        <h5 class="text-overflow-2 title-font">ساعت هوشمند شیائومی مدل
                                                            Redmi Watch 2 Lite طرح بند
                                                            سلیکونی پاور مود جدید 2024
                                                        </h5>
                                                    </div>
                                                    <div class="amazing-slider-two-item-feature">
                                                        <ul>
                                                            <li>جنس: <span>پارچه ترک</span></li>
                                                            <li> طرح: <span>ساده</span></li>
                                                            <li>قد: <span>کوتاه</span></li>
                                                            <li>یقه: <span>شل</span></li>
                                                            <li>توع لباس: <span>معمولی</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount">
                                                        <div class="amazing-slider-two-item-discount-discount">
                                                            <del>1,340,000</del>
                                                            <ins>35%</ins>
                                                        </div>
                                                        <div class="amazing-slider-two-item-discount-price">
                                                            <h4>999,000</h4>
                                                            <span> تومان </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="amazing-slider-two-item">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="amazing-slider-two-item-timer">
                                                        <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="amazing-slider-two-item-image">
                                                        <img src="{% static 'assets/img/product/wach2.jpg' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="amazing-slider-two-item-title">
                                                        <h5 class="text-overflow-2 title-font">ساعت هوشمند شیائومی مدل
                                                            Redmi Watch 2 Lite طرح بند
                                                            سلیکونی پاور مود جدید 2024
                                                        </h5>
                                                    </div>
                                                    <div class="amazing-slider-two-item-feature">
                                                        <ul>
                                                            <li>جنس: <span>پارچه ترک</span></li>
                                                            <li> طرح: <span>ساده</span></li>
                                                            <li>قد: <span>کوتاه</span></li>
                                                            <li>یقه: <span>شل</span></li>
                                                            <li>توع لباس: <span>معمولی</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount">
                                                        <div class="amazing-slider-two-item-discount-discount">
                                                            <del>1,340,000</del>
                                                            <ins>35%</ins>
                                                        </div>
                                                        <div class="amazing-slider-two-item-discount-price">
                                                            <h4>999,000</h4>
                                                            <span> تومان </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="amazing-slider-two-item">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="amazing-slider-two-item-timer">
                                                        <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="amazing-slider-two-item-image">
                                                        <img src="{% static 'assets/img/product/wach3.jpg' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="amazing-slider-two-item-title">
                                                        <h5 class="text-overflow-2 title-font">ساعت هوشمند شیائومی مدل
                                                            Redmi Watch 2 Lite طرح بند
                                                            سلیکونی پاور مود جدید 2024
                                                        </h5>
                                                    </div>
                                                    <div class="amazing-slider-two-item-feature">
                                                        <ul>
                                                            <li>جنس: <span>پارچه ترک</span></li>
                                                            <li> طرح: <span>ساده</span></li>
                                                            <li>قد: <span>کوتاه</span></li>
                                                            <li>یقه: <span>شل</span></li>
                                                            <li>توع لباس: <span>معمولی</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount">
                                                        <div class="amazing-slider-two-item-discount-discount">
                                                            <del>1,340,000</del>
                                                            <ins>35%</ins>
                                                        </div>
                                                        <div class="amazing-slider-two-item-discount-price">
                                                            <h4>999,000</h4>
                                                            <span> تومان </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="amazing-slider-two-item">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <div class="amazing-slider-two-item-timer">
                                                        <div class='countdown' data-date="2027-01-01" data-time="18:30">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="amazing-slider-two-item-image">
                                                        <img src="{% static 'assets/img/product/wach4.jpg' %}" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="amazing-slider-two-item-title">
                                                        <h5 class="text-overflow-2 title-font">ساعت هوشمند شیائومی مدل
                                                            Redmi Watch 2 Lite طرح بند
                                                            سلیکونی پاور مود جدید 2024
                                                        </h5>
                                                    </div>
                                                    <div class="amazing-slider-two-item-feature">
                                                        <ul>
                                                            <li>جنس: <span>پارچه ترک</span></li>
                                                            <li> طرح: <span>ساده</span></li>
                                                            <li>قد: <span>کوتاه</span></li>
                                                            <li>یقه: <span>شل</span></li>
                                                            <li>توع لباس: <span>معمولی</span></li>
                                                        </ul>
                                                    </div>
                                                    <div class="amazing-slider-two-item-discount">
                                                        <div class="amazing-slider-two-item-discount-discount">
                                                            <del>1,340,000</del>
                                                            <ins>35%</ins>
                                                        </div>
                                                        <div class="amazing-slider-two-item-discount-price">
                                                            <h4>999,000</h4>
                                                            <span> تومان </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-button-next d-lg-flex d-none"></div>
                            <div class="swiper-button-prev d-lg-flex d-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>