{% load static %}
<meta charset="utf-8">
<meta content="" name="description">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" property="og:title">
<meta content="" property="og:type">
<meta content="" property="og:url">
<meta content="" property="og:image">
<link href="{% static 'assets/css/normalize.css' %}" rel="stylesheet">
<link href="{% static 'assets/font/bootstrap-icon/bootstrap-icons.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'assets/common/custom/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'assets/common/custom/css/custom.css' %}" rel="stylesheet">
<link href="{% static 'assets/css/../../../static/assets/js/plugin/swl-2/sweetalert2.min.css' %}" rel="stylesheet">
<meta content="#f4f5f9" name="theme-color">