{% load static %}
<div class="blog-slider py-30 free-swiper-two">
    <div class="container-fluid position-relative">

        <div class="section-title">
            <div class="row gy-3 align-items-center">
                <div class="col-sm-8">
                    <div class="section-title-title">
                        <h2 class="title-font h1">جدید ترین <span class="main-color-two-color">مطالب</span>
                        </h2>
                        <div class="Dottedsquare"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="section-title-link text-sm-end text-start">
                        <a class="btn main-color-two-bg border-0" href=""> مشاهده همه</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper blog-slider-swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-1.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-2.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-3.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-4.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-5.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="blog-item">
                        <div class="blog-item-parent">
                            <div class="blog-item-image">
                                <img src="{% static 'assets/img/blog-7.jpg' %}" alt="">
                            </div>
                            <div class="blog-item-desc">
                                <div class="blog-item-desc-parent">
                                    <div class="blog-item-title">
                                        <h5 class="title-font text-overflow-2">با بیش از سی سال سابقه خدمت به
                                            مشتریان در زمینه فروش ابزارآلات صنعتی</h5>
                                        <p class="mb-0 text-overflow-2">
                                            با بیش از سی سال سابقه خدمت به مشتریان در زمینه فروش ابزارآلات صنعتی و
                                            کارگاهی را دارا می باشد و با گردهم آوردن متخصصان این عرصه بالغ بر ده سال
                                            است که برند را به صورت تخصصی در زمینه ابزار آلات عرضه کرده است.
                                        </p>
                                    </div>
                                    <div class="blog-item-link">
                                        <a href="">
                                            <span>خواندن ادامه</span>
                                            <i class="bi bi-arrow-left"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="blog-item-date">
                                    <div class="blog-item-date-date">
                                        <i class="bi bi-clock me-1"></i>
                                        <span>1402/09/17</span>
                                    </div>
                                    <div class="blog-item-comment">
                                        <span class="title-font font-16">3</span> <span
                                            class="text-muted">نظر</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>

        </div>

    </div>
</div>