{% extends 'user_panel/user_panel_base.html' %}

{% block title %}تغییر کلمه عبور{% endblock %}

{% block bread_camp %}
    <li class="breadcrumb-item"><a class="font-14 text-muted-two" href="{% url 'user_panel_home_page' %}">مدیریت حساب کاربری</a></li>
    <li aria-current="page" class="breadcrumb-item active main-color-one-color font-14 fw-bold">تغییر کلمه عبور</li>
{% endblock %}

{% block content %}
    <div class="section-title mb-4">
        <div class="section-title-title">
            <h2 class="title-font main-color-two-color h1">ویرایش <span class="text-dark">رمز عبور</span>
            </h2>
            <div class="Dottedsquare"></div>
        </div>
    </div>

    <div class="slider-parent content-box rounded-3">
        <div class="container-fluid">
            <form action="{% url 'user_panel_change_password_page' %}" method="post">
            {% csrf_token %}
                <div class="row gy-2">
                    <div class="col-sm-4">
                        <div class="comment-item mb-3 {% if form.current_password.errors %}errors{% endif %}">
                            {{ form.current_password }}
                            <label for="{{ form.current_password.id_for_label }}"
                                   class="form-label label-float fw-bold">{{ form.current_password.label }}</label>
                        </div>
                        {{ form.current_password.errors }}
                    </div>
                    <div class="col-sm-4">
                        <div class="comment-item mb-3 {% if form.new_password.errors %}errors{% endif %}">
                            {{ form.new_password }}
                            <label for="{{ form.new_password.id_for_label }}"
                                   class="form-label label-float fw-bold">{{ form.new_password.label }}</label>
                        </div>
                        {{ form.new_password.errors }}
                    </div>
                    <div class="col-sm-4">
                        <div class="comment-item mb-3 {% if form.confirm_new_password.errors %}errors{% endif %}">
                            {{ form.confirm_new_password }}
                            <label for="{{ form.confirm_new_password.id_for_label }}"
                                   class="form-label label-float fw-bold">{{ form.confirm_new_password.label }}</label>
                        </div>
                        {{ form.confirm_new_password.errors }}
                    </div>
                    <div class="col-12">
                        <input type="submit" value="تغییر" class="btn main-color-two-bg px-5 w-100-in-400 pt-2">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}