{% extends 'base.html' %}

{% block title %}مقایسه محصولات{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="section-title-title">
                <h2 class="title-font h1">مقایسه <span class="main-color-two-color">محصولات</span>
                </h2>
                <div class="Dottedsquare"></div>
            </div>
            <div class="content-box mt-3">
                <div class="container-fluid">
                    <div class="compare">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered fixed compare-table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <div class="product-box">
                                                    <div class="product-box-image">

                                                        <img src="assets/img/product/product-image4.jpg" loading="lazy"
                                                             alt="" class="img-fluid one-image">
                                                        <img src="assets/img/product/product-image5.jpg" loading="lazy"
                                                             alt="" class="img-fluid two-image">

                                                        <div class="color-box">
                                                            <div class="color-box-item" data-hint="نام رنگ مورد نظر"
                                                                 data-toggle="tooltip">
                                                                <span class="color hint--top"
                                                                      style="background-color: #8854d0;"></span>
                                                            </div>
                                                            <div class="color-box-item" data-hint="نام رنگ مورد نظر"
                                                                 data-toggle="tooltip">
                                                                <span class="color hint--top"
                                                                      style="background-color: #e15f41;"></span>
                                                            </div>
                                                            <div class="color-box-item" data-hint="نام رنگ مورد نظر"
                                                                 data-toggle="tooltip">
                                                                <span class="color hint--top"
                                                                      style="background-color: #ea8685;"></span>
                                                            </div>
                                                        </div>
                                                        <div class="product-box-price-discount">
                                                            <span class="d-block badge main-color-two-bg text-white font-14">25%</span>
                                                        </div>
                                                        <span class="product-box-image-overlay"></span>
                                                    </div>
                                                    <div class="product-box-title">
                                                        <a href="">
                                                            <h5 class="text-overflow-2">ساعت هوشمند شیائومی مدل Redmi
                                                                Watch 2 Lite طرح بند
                                                                سلیکونی
                                                            </h5>
                                                        </a>
                                                    </div>
                                                    <div class="product-box-suggest-price d-flex align-items-center justify-content-between">
                                                        <del class="font-16">5,000,000</del>
                                                        <ins class="font-25">2,500,000 <span>تومان</span></ins>
                                                    </div>
                                                    <div class="product-box-hover-action">

                                                        <nav class="navbar navbar-expand justify-content-center">
                                                            <ul class="navbar-nav align-items-center">
                                                                <li class="nav-item">
                                                                    <a href=""
                                                                       class="nav-item product-box-hover-item me-3">مشاهده
                                                                        محصول</a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href=""
                                                                       class="nav-item product-box-hover-item product-box-hover-item-btn me-1"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       data-bs-title="افزودن به سبد خرید"><i
                                                                            class="bi bi-basket"></i></a>
                                                                </li>
                                                                <li class="nav-item">
                                                                    <a href=""
                                                                       class="nav-item product-box-hover-item product-box-hover-item-btn"
                                                                       data-bs-toggle="tooltip" data-bs-placement="top"
                                                                       data-bs-title="افزودن به علاقه ها"><i
                                                                            class="bi bi-heart"></i></a>
                                                                </li>
                                                            </ul>
                                                        </nav>

                                                    </div>
                                                </div>
                                                <div class="compare-box my-2">
                                                    <div class="compare-delete text-center">
                                                        <a href="" class="btn btn-danger btn-sm"><i
                                                                class="bi bi-x-circle-fill"></i></a>
                                                    </div>
                                                </div>
                                            </th>
                                            <th>
                                                <div class="compare-add">
                                                    <div class="compare-add-product">
                                                        <div class="cap-icon">
                                                            <i class="bi bi-box-arrow-down"></i>
                                                        </div>
                                                        <div class="cap-title">
                                                            <p class="text-muted">برای افزودن محصول کلیک کنید</p>
                                                        </div>
                                                        <div class="cap-btn">
                                                            <button class="btn border-0 main-color-one-bg">افزودن کالا
                                                                به مقایسه
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td colspan="5" class="td-head">
                                                <i class="bi bi-chevron-double-left "></i>
                                                <span>مشخصات کلی</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="d-block mb-3 fw-bold font-16">مدل پردازنده گرافيکي</span>
                                                <span>GeForce GTX 950M GDDR5</span>
                                            </td>
                                            <td>
                                                <span class="d-block mb-3 fw-bold font-16">مدل پردازنده گرافيکي</span>
                                                <span>GeForce GTX 950M GDDR5</span>
                                            </td>
                                            <td>
                                                <span class="d-block mb-3 fw-bold font-16">مدل پردازنده گرافيکي</span>
                                                <span>GeForce GTX 950M GDDR5</span>
                                            </td>
                                            <td>
                                                <div class="empty-cell"></div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}